/**===========================Posicionamento===========================**/
.esquerda{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.direita{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.cima{
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.baixo{
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.centralizado{
	display: flex;
	justify-content: center;
	align-items: center;
}

.linha{
	display: flex;
	flex-direction: row;
}
.coluna{
	display: flex;
	flex-direction: column;
}
.destacadoCimaBaixo{
	margin: 20px 0 20px 0 !important;
}
.destacadoEsquerdaDireita{
	margin: 0 20px 0 20px !important;
}

/**===========================Formularios===================**/
.formulario{
	width: 100%;
	margin-top: 30px;
}
.formLabel{
	width: 120px;
	height: 37px;
	font-size: 15px;
	color: #ff6600 ;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 0.2px solid black;
	border-left: 5px solid #ff6600;
}
.formInput{
	width: 250px;
	height: 37px;
	border: .9px solid #A9A9A9;
	padding-left: 10px;
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	outline: none;
	box-sizing: border-box;
}
.formInput:focus{
	border:1px solid rgba(255, 102, 0, 0.9);
}
.formRadio{	
	border:.5px solid #A9A9A9;
	width: 250px;
	height: 37px;
	padding-left: 10px;	
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}
.formRadio label input{
	margin-right: 5px;
}
.dupla{
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items:flex-start;
}
.btnPrincipal{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 37px;
	background-color: #ff6600;
	color: #fff;
	font-weight: 600;
	border:1px solid #fff;
	border-radius: 3px;
	margin-top: 25px;
}
.btnPrincipal:hover{
	border:1.5px solid #000;
	color: #000;
}
.containerBotoes{
	width: 100%;
	margin: 10px;
}
.containerBotoes a{
	margin:5px; 
}
@media (max-width: 500px) {
	.formLabel{
		font-size: 13px;
		width: 120px;
	}
	.formInput{
		font-size: 12px;
	}
	.formRadio{
		font-size: 13px;
	}
}
@media (max-width: 425px) {
	.formLabel{
		width: 100px;
		font-size: 12px;
	}
	.formInput, .formRadio{
		width: 220px;
	}
}
@media (max-width: 375px) {
	.formLabel{
		font-size: 12px;
	}
	.formLabel{
		width: 90px;
		font-size: 12px;
	}
	.formInput,.formRadio{
		width: 210px;
	}
}
/**===========================Formularios em Etapas===================**/
.formularioEtapas{
	width: 600px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
.formularioEtapas h2, .formularioEtapas h3{
	color: #ff6600;
	text-align: center;
	margin-bottom: 20px; 
	font-weight: bold;
}
.formularioEtapas p{
	text-align: center;
	margin-bottom: 15px;
}
.formularioEtapas fieldset{
	background: white;
	box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	position: relative;
	margin-top: 10%;
}
.formularioEtapas fieldset:not(:first-of-type){
	display: none;
}
.formularioEtapas input, .formularioEtapas textarea{
	padding: 10px;
	margin: 10px;
	width: 80%;
	color: rgba(255, 102, 0)
}
.formularioEtapas input.acao, .formularioEtapas input.next.acao, .formularioEtapas input.prev.acao{
	padding: 10px;
	margin: 10px;
	color:white;
	font-weight: bold;
	background: #ff6600;
	border:1px solid rgba(255, 102, 0, 0.9);
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	outline: none;
	box-sizing: border-box;
	width: 30%

}

.formularioEtapas input.acao:hover{background: #c14e01; cursor: pointer;}

footer{
	background: #212529;
}
.formularioEtapas #progress{
	margin-bottom: 30px;
	overflow: hidden;
	counter-reset: step;
}
#progress{
	margin-top: 10%;
	margin-left: -25%;
	width: 200%;
}
.formularioEtapas #progress li{
	list-style-type: none;
	color: rgba(134,134,134);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 11px;
	float: left;
	width: 15%;
	position: relative;
}
.formularioEtapas #progress li:before{
	content:counter(step);
	counter-increment: step;
	font-size: 15px;
	width: 40px;
	display: block;
	line-height: 40px;
	background: rgba(134,134,134);
	color: white;
	border-radius:30px;
	-moz-border-radius:30px;
	-webkit-border-radius:40px;
	margin: 0 auto 10px auto;
}
.formularioEtapas #progress li:after{
	content: '';
	width: 100%;
	background: rgba(134,134,134);
	height: 2px;
	position: absolute;
	top: 17px;
	left: -50%;
	z-index: -1;
}
.formularioEtapas #progress li:first-child:after{
	content: none;
}
.formularioEtapas #progress li.ativo:before, .formularioEtapas #progress li.ativo:after{
	background: #ff6600;
	color: white;
	text-shadow: 0 1px 0;	
}
.formularioEtapas #progress li.ativo{
	color: #ff6600;
}

/**===========================Cards===========================**/
.cardContorno{
	height: 100%;
	padding: 10px 0 10px 0;
	border-top: 1px dashed #333333 !important; 
}
.imagemCard{
	width: 250px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.imagemCard img{
	width: 240px;
}
@media (max-width: 1100px) {	
	.conteudoCard{
		flex-direction: column!important;
	}
	.imagemCard{
		width: 270px;
		height: 200px;
	}	
	.imagemCard img{
		width: 100%;
		height: 100%;
	}	
}
@media (max-width: 800px) {	
	.cardContorno{
		flex-direction: column;
	}
	.imagemCard{
		margin-bottom: 25px;
	}
}

/**===========================específicos===========================**/
#paginationActive a{
	background-color: #ff6600!important;
	border-color: #ff6600!important;
	color: #fff!important;	
}
.page-item a{ 
	color: #ff6600!important;
}
.container{
	padding: 0;
	margin: 0;
}
@media (min-width: 992px) {
	#caixaCep{
		max-width: 50%!important;
	}
}

/**===========================textos===========================**/
p{
	text-align:left;
	font-family: inherit;
	font-size:20px;
	font-weight:bold;
	margin-top:25px;
}
.tituloGrande, .tituloMedio, .tituloPequeno{
	width: 100%;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 25px;
}
.tituloGrande{
	font-size: 30px;	
}
.tituloMedio{
	font-size: 24px;
}
.tituloPequeno{
	font-size: 18px;
}
@media (max-width: 500px) {
	.tituloGrande{
		font-size: 28px;	
	}
	.tituloMedio{
		font-size: 20px;
	}
	.tituloPequeno{
		font-size: 16px;
	}

}