.formulario{
	font-family: "Trebuchet MS", tahoma, arial;
	color:#343a40;
	width: 600px;
	margin: 50px auto;
	text-align: center;
	position: relative;

}


.formulario h2, .formulario h3{
	font:30px "Trebuchet MS", tahoma, arial;
	color: #ff6600;
	width: 100%;
	text-align: center;
	margin-bottom: 4%; 
	font-weight: bold;
}

.formulario p{
	font:14px "Trebuchet MS", tahoma, arial;
	color: #212529;
	width: 100%;
	text-align: center;
	margin-bottom: 4%;
}

.formulario fieldset{
	background: white;
	border 0 none;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	position: relative;
	margin-top: 10%;

}


.formulario fieldset:not(:first-of-type){
	display: none;
}


.formulario input, .formulario textarea{
	padding: 10px;
	margin: 10px;
	border:1px solid rgba(255, 102, 0, 0.9);
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	outline: none;
	box-sizing: border-box;
	width: 80%;
	font:14px "Trebuchet MS", tahoma, arial;
	color: rgba(255, 102, 0)
}


.formulario input.acao, .formulario input.next.acao, .formulario input.prev.acao{
	padding: 10px;
	margin: 10px;
	color:white;
	text-transform: uppercase;
	font-weight: bold;
	background: #ff6600;
	border:1px solid rgba(255, 102, 0, 0.9);
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	outline: none;
	box-sizing: border-box;
	width: 30%

}

.formulario input.acao:hover{background: #c14e01; cursor: pointer;}

footer{
	background: #212529;
}
.formulario #progress{
	margin-bottom: 30px;
	overflow: hidden;
	counter-reset: step;


}

#progress{
	margin-top: 10%;
	margin-left: -25%;
	width: 200%;
}

.formulario #progress li{
	list-style-type: none;
	color: rgba(134,134,134);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 11px;
	float: left;
	width: 15%;
	position: relative;

}

.formulario #progress li:before{
	content:counter(step);
	counter-increment: step;
	font-size: 15px;
	width: 40px;
	display: block;
	line-height: 40px;
	background: rgba(134,134,134);
	color: white;
	border-radius:30px;
	-moz-border-radius:30px;
	-webkit-border-radius:40px;
	margin: 0 auto 10px auto;
}

.formulario #progress li:after{
	content: '';
	width: 100%;
	background: rgba(134,134,134);
	height: 2px;
	position: absolute;
	top: 17px;
	left: -50%;
	z-index: -1;

}




.formulario #progress li:first-child:after{
	content: none;
}



.formulario #progress li.ativo:before, .formulario #progress li.ativo:after{
	background: #ff6600;
	color: white;
	text-shadow: 0 1px 0;
	
}
.formulario #progress li.ativo{
	color: #ff6600;
}

/*
#form_maior{
	width: 700px;
	margin-left: 0%;

}

#form_maior input{

	width: 45%;

}
*/	

